PL_Master/PL_Master.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{},"variables":{},"resources":[{"name":"PL_Master","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Gate_Check","type":"IfCondition","dependsOn":[{"activity":"Run_DQ","dependencyConditions":["Succeeded"]}],"typeProperties":{"expression":{"value":"@not(equals(activity('Run_DQ').output.result, 'BLOCKED'))","type":"Expression"},"ifFalseActivities":[{"name":"Fail1","type":"Fail","dependsOn":[],"typeProperties":{"message":"DQ gate BLOCKED - Gold pipeline skipped","errorCode":"DQ_BLOCKED"}}],"ifTrueActivities":[{"name":"Run_Gold","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"88cbdb78-eef1-4ea4-b69c-fe23b08701aa","workspaceId":"2dcf217c-27b0-4bb9-a558-835b9b5dd22c","parameters":{"batch_id":{"value":{"value":"@formatDateTime(utcNow(), 'yyyyMMdd_HHmmss')","type":"Expression"},"type":"string"}}}},{"name":"Run_Monitoring","type":"TridentNotebook","dependsOn":[{"activity":"Run_Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"458dde5c-b792-49aa-8d96-618307bd4365","workspaceId":"2dcf217c-27b0-4bb9-a558-835b9b5dd22c","parameters":{"batch_id":{"value":{"value":"@formatDateTime(utcNow(), 'yyyyMMdd_HHmmss')","type":"Expression"},"type":"string"}}}}]}},{"name":"Run_DQ","type":"TridentNotebook","dependsOn":[{"activity":"Run_Silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"3d132151-bd1d-4251-8c99-ac3965a52b07","workspaceId":"2dcf217c-27b0-4bb9-a558-835b9b5dd22c","parameters":{"batch_id":{"value":{"value":"@formatDateTime(utcNow(), 'yyyyMMdd_HHmmss')","type":"Expression"},"type":"string"}}}},{"name":"Run_Bronze","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"b6c86396-289e-43a0-913f-f4230073ecf8","workspaceId":"2dcf217c-27b0-4bb9-a558-835b9b5dd22c","parameters":{"batch_id":{"value":{"value":"@formatDateTime(utcNow(), 'yyyyMMdd_HHmmss')","type":"Expression"},"type":"string"}}}},{"name":"Run_Silver","type":"TridentNotebook","dependsOn":[{"activity":"Run_Bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"a26ccea8-23ee-4ee6-b9e5-910a53c8a145","workspaceId":"2dcf217c-27b0-4bb9-a558-835b9b5dd22c","parameters":{"batch_id":{"value":{"value":"@formatDateTime(utcNow(), 'yyyyMMdd_HHmmss')","type":"Expression"},"type":"string"}}}}],"lastModifiedByObjectId":"a5178f74-372c-43d5-8c99-be0dae29bb62","lastPublishTime":"2026-04-16T23:16:06Z"},"dependsOn":[]}]}